@page "/authentication/signin/{ReturnUrl?}"
@using BlazorEasyAuth.Services.Interfaces
@using BlazorEasyAuth.Example.Providers.Interfaces
@using BlazorEasyAuth.Models
@using BlazorEasyAuth.Example.Models

<table class="table col-md-6">
	<thead>
	<tr>
		<th>Username</th>
		<th>Password</th>
		<th>Roles</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>superuser</td>
		<td>superuser</td>
		<td>@Roles.Superuser</td>
	</tr>
	<tr>
		<td>admin</td>
		<td>admin</td>
		<td>@Roles.Administrator</td>
	</tr>
	<tr>
		<td>myrole1</td>
		<td>myrole1</td>
		<td>@Roles.MyRole1</td>
	</tr>
	<tr>
		<td>myrole2</td>
		<td>myrole2</td>
		<td>@Roles.MyRole2</td>
	</tr>
	<tr>
		<td>myrole1and2</td>
		<td>myrole1and2</td>
		<td>@Roles.MyRole1, @Roles.MyRole2</td>
	</tr>
	</tbody>
</table>

<EditForm Model="@_signInFormModel" OnSubmit="@Submit">
	<InputText placeholder="Username" @bind-Value="_signInFormModel.Username" />
	<InputText type="password" placeholder="Password" @bind-Value="_signInFormModel.Password" />
	
	<button type="submit">Sign in</button>
</EditForm>

@if (_errorMessage != null)
{
	<div style="color: #F00; padding: 5px; border: 1px solid #F00; margin-top: 10px;">@_errorMessage</div>
}

@code {

	public class SignInFormModel
	{
		public string Username { get; set; }
		
		public string Password { get; set; }
	}

	[Parameter]
	public string ReturnUrl { get; set; }
	
	[Inject]
	public IDatabaseSampleUsersProvider DatabaseSampleUsersProvider { get; set; }

	[Inject]
	public ISignInTokenService SignInTokenService { get; set; }

	[Inject]
	public NavigationManager NavigationManager { get; set; }

	private readonly SignInFormModel _signInFormModel = new ();

	private string _errorMessage;

	private async Task Submit()
	{
		_errorMessage = null;
		var user = DatabaseSampleUsersProvider.GetByCredentials(_signInFormModel.Username, _signInFormModel.Password);

		if (user == null)
		{
			_errorMessage = "Incorrect credentials";
			return;
		}

		var signInToken = await SignInTokenService.CreateTokenAsync(user.GetId());

		NavigationManager.NavigateTo(Urls.GetSignInActionUrl(signInToken, ReturnUrl), true);
	}
}